.container {
    max-width: none;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

#pizzaClassics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#carouselExampleSlidesOnly {
    height: 50%;
    padding: 2% 2%;
}

.pizza {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    margin: 2% 0;
    border: orange ridge 3px;
    border-radius: 10%;
}

.pizza a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.pizza a:hover {
    color: orange;
}

#formCo {
    border: solid orange 3px;
    padding: 3%;
    margin: 4%;
}

.pizza:hover {
    border: white ridge 3px;

}

#formCo>.btn {
    margin: 20px 0px;
}

#formCo b {
    color: orange;
}

#formCo input {
    font-size: 130%;
}

html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

tr:nth-child(odd) {
    background:lightgray;
}
thead tr:first-child{
    background-color: white;
}

/* .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 3;
    }
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }
  } */